.dropdown {
    margin-left: 9.5rem;
}

.dropdown_btn {
    background: navy;
    color: #fff;
    font-family: "Press Start 2P", cursive;
    font-size: 15px;
    padding: 10px;
    border: 1px solid navy;
    border-radius: 5px;
    padding-right: 1.5rem;
    cursor: pointer;
}

.dropdown_item {
    width: 305px;
    background: navy;
    color: #fff;
    font-family: "Press Start 2P", cursive;
    font-size: 15px;
    padding: 10px; 
    margin: .1rem;
    border: 1px solid navy;
    border-radius: 5px;
    text-align: center;
    padding-top: -5px;
}

.arrow {
    position: relative;
    left: 10px;
    font-size: 2rem;
    color: #fff;
    user-select: none;
}