.description {
  font-family: "Press Start 2P", cursive;
  /* font-weight: bold; */
  font-size: 16px;
  color: navy;
  background: rgba(24, 23, 23, 0.07);
  float: right;
  width: 39rem;
  margin-right: 2rem;
  padding: 25px;
  /* padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px; */
  border-radius: 5px;
  line-height: 1.5;
  box-shadow: 10px 10px 10px 0px;
  text-align: center;
}

/* p {
  text-align: center;
} */

.description:hover {
  background: rgba(23, 23, 23, 0.75);
}
