.description {
  font-family: "Press Start 2P", cursive;
  font-size: 15px;
  color: navy;
  background: rgba(24, 23, 23, 0.07);
  float: right;
  width: 39rem;
  margin-right: 2rem;
  padding: 25px;
  border-radius: 5px;
  line-height: 1.5;
  box-shadow: 10px 10px 10px 0px;
  text-align: center;
}

.description:hover {
  background: rgba(23, 23, 23, 0.75);
}
